<link rel="stylesheet" href="../static/home.css">
<section class="intro">
    <div class="container">
      <h1>Frames of My Life</h1>
    </div>
  </section>
  
  <section class="timeline">
    <ol>
      <li>
        <div class="item-inner">
          <div class="time-wrapper">
            <time>2017</time>
          </div>
          <div class="details">
            <h3>Here Starts My Journey</h3>
            <p>After completing my 10th grade, I chose the Science stream for my 11th and 12th.
               I pursued JEE preparation during this time at Narayana Junior College.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="item-inner">
          <div class="time-wrapper">
            <time>2019</time>
          </div>
          <div class="details">
            <h3>The NIT Calicut Chapter</h3>
            <p>My journey into engineering began in 2019 when I joined NIT Calicut to pursue Computer
               Science and Engineering. It was a transformative chapter for me
               , a new exposure to the outside world with many streams of students 
               collaborating and enjoying the btech life.</div>
        </div>
      </li>
      <li>
        <div class="item-inner">
          <div class="time-wrapper">
            <time>2020</time>
          </div>
          <div class="details">
            <h3>A Chapter of Growth</h3>
            <p>This year was a challenging year where I faced setbacks in my academics. 
              It was a low point that affected my motivation and confidence Apart from Academics. 
              I also lost focus on an acting which I joined but didn't make it to the Inter NIT Cultural Acts.</p>
          </div>
        </div>
      </li>
      <li>
        <div class="item-inner">
          <div class="time-wrapper">
            <time>2021 - 2022</time>
          </div>
          <div class="details">
            <h3>Learning Through Uncertainty</h3>
            <p>From 2020 to mid-2022, the impact of the pandemic brought unexpected challenges, 
              including my own battle with COVID. But this period became a turning point—I reflected on my goals,
               studied harder, explored new interests, built a few personal projects, 
              and enrolled in a course with Nxtwave to upskill myself in emerging technologies.
          </p>
          </div>
        </div>
      </li>
      <li>
        <div class="item-inner">
          <div class="time-wrapper">
            <time>2023</time>
          </div>
          <div class="details">
            <h3>Foundation Building & Early Projects</h3>
            <p>I strengthened my development skills through the Nextwave CCBP 4.0 program. I worked on real-time projects like the Tourism Website,
               Food Munch Website, and a Guesthouse Booking System, building a solid foundation in web development. 
               As a part of my Final Year project, I developed a Breast Cancer Detection Model using machine learning techniques, enhancing my understanding of data preprocessing, model training, and evaluation.
             </p>
          </div>
        </div>
      </li>
      <li>
        <div class="item-inner">
          <div class="time-wrapper">
            <time>2024 - 2025</time>
          </div>
          <div class="details">
            <h3>Journey into AI and ML</h3>
            <p>I completed my B.Tech in Computer Science from NIT Calicut. 
              The journey had its ups and downs—I had a semester setback that was a tough phase for me.
               But during this time, I started getting interested in Artificial Intelligence and Machine Learning.
                The rise of tools like ChatGPT made me curious to learn more. I worked on several projects,
                 especially in NLP, and built chatbots using large language models, vector databases, and embeddings. 
                 These experiences helped me grow and made me excited to keep learning in this field.
               </p>
          </div>
        </div>
      </li>
      <li>
          <div class="item-inner">
            <div class="time-wrapper">
              <time>Contact</time>
            </div>
            <div class="details">
              <p>
                Hey Hi, Feel Free To Reach Out To Me.
              </p>
              <a href="https://github.com/ksanjana14" class="link-button">Github</a> <!-- This is the link -->
              <br>
              <a href="../insta/index.html" class="link-button">Check Out My Insta</a> <!-- This is the link -->
              <br>
              <a href="https://www.linkedin.com/in/sanjana-k-9b1b86212/" class="link-button">LinkedIn</a> <!-- This is the link -->
              <br>
            </div>
          </div>
      </li>
  </section>

  <script src="../static/home.js"></script>